@import url("http://fonts.cdnfonts.com/css/bookman-old-style");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bookman Old Style", sans-serif;
}

body {
  background: #0a2a43;
  min-height: 4900px;
}

.parallax-1,
.parallax-2,
.parallax-3,
.parallax-4 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-1::before,
.parallax-2::before,
.parallax-3::before,
.parallax-4::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 9999;
}
.parallax-1::after,
.parallax-2::after,
.parallax-3::after,
.parallax-4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 9999;
  mix-blend-mode: color;
}
.parallax-1 img,
.parallax-2 img,
.parallax-3 img,
.parallax-4 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
.parallax-1 #text,
.parallax-1 #text-2,
.parallax-1 #text-3,
.parallax-1 #text-4,
.parallax-2 #text,
.parallax-2 #text-2,
.parallax-2 #text-3,
.parallax-2 #text-4,
.parallax-3 #text,
.parallax-3 #text-2,
.parallax-3 #text-3,
.parallax-3 #text-4,
.parallax-4 #text,
.parallax-4 #text-2,
.parallax-4 #text-3,
.parallax-4 #text-4 {
  position: relative;
  color: #fff;
  font-size: 160px;
  z-index: 1;
  text-transform: uppercase;
}
.parallax-1 #road,
.parallax-2 #road,
.parallax-3 #road,
.parallax-4 #road {
  z-index: 2;
}
.parallax-1 #girl,
.parallax-2 #girl,
.parallax-3 #girl,
.parallax-4 #girl {
  z-index: 2;
}
.parallax-1 #rock,
.parallax-2 #rock,
.parallax-3 #rock,
.parallax-4 #rock {
  z-index: 3;
}
.parallax-1 #forest,
.parallax-2 #forest,
.parallax-3 #forest,
.parallax-4 #forest {
  z-index: 2;
}
.parallax-1 #rocks,
.parallax-2 #rocks,
.parallax-3 #rocks,
.parallax-4 #rocks {
  z-index: 3;
}
.parallax-1 #water,
.parallax-2 #water,
.parallax-3 #water,
.parallax-4 #water {
  z-index: 4;
}
.parallax-1 #bird-1,
.parallax-1 #bird-2,
.parallax-2 #bird-1,
.parallax-2 #bird-2,
.parallax-3 #bird-1,
.parallax-3 #bird-2,
.parallax-4 #bird-1,
.parallax-4 #bird-2 {
  z-index: 5;
}
.parallax-1 #moon-1,
.parallax-2 #moon-1,
.parallax-3 #moon-1,
.parallax-4 #moon-1 {
  mix-blend-mode: screen;
}
.parallax-1 #mountains-front,
.parallax-2 #mountains-front,
.parallax-3 #mountains-front,
.parallax-4 #mountains-front {
  z-index: 3;
}
.parallax-1 #text-3,
.parallax-2 #text-3,
.parallax-3 #text-3,
.parallax-4 #text-3 {
  color: #0a2a43;
  z-index: 1;
}

.parallax-3 {
  background: white;
}

.parallax-effect-text {
  position: relative;
  padding: 100px;
  background-color: #0a2a43;
}
.parallax-effect-text h2 {
  font-size: 56px;
  color: #fff;
  margin-bottom: 15px;
}
.parallax-effect-text h3 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 15px;
}
.parallax-effect-text p {
  font-size: 19px;
  color: #fff;
  margin-bottom: 15px;
}/*# sourceMappingURL=style.css.map */